<key>Patch</key>
<array>
    <dict>
        <key>Comment</key>
        <string>SMBR-XMBR</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FEsTU01CUgtw</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FEsTWE1CUgtw</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>SMBW-XMBW</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FDFTTUJX</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FDFYTUJX</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>ECSB-XCSB</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FE8aRUNTQgdw</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FE8aWENTQgdw</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>FBST-XBST</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FEMSRkJTVAR7aQv//2FwAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FEMSWEJTVAR7aQv//2FwAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>CBST-XBSX</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FEAIQ0JTVAA=</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FEAIWEJTWA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>_BIX-XBIX</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FEkmX0JJWAA=</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FEkmWEJJWAA=</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BIF0-XIF0</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FDxCSUYwAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FDxYSUYwAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BIF1-XIF1 - FC1CSUYxAA FC1YSUYxAA</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FC1CSUYxAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FC1YSUYxAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BIF2-XIF2 - FC1CSUYyAA== FC1YSUYyAA==</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FC1CSUYyAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FC1YSUYyAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BIF3-XIF3 - FDxCSUYzAA== FDxYSUYzAA==</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FDxCSUYzAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FDxYSUYzAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BIF4-XIF4 - FCdCSUY0AA== FCdYSUY0AA==</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FCdCSUY0AA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FCdYSUY0AA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BIFA-XIFA - FCdCSUZBAA== FCdYSUZBAA==</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FCdCSUZBAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FCdYSUZBAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BSTS-XSTS</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FE0FQlNUUwBwSUtGR2B9YA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FE0FWFNUUwBwSUtGR2B9YA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BCRT-XCRT</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FBxCQ1JUAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FBxYQ1JUAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BRCP-XRCP</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FCZCUkNQAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FCZYUkNQAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>BVOT-XVOT</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FBxCVk9UAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FBxYVk9UAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>HPET _CRS to XCRS Rename</string>
        <key>Count</key>
        <integer>0</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>JV9DUlM=</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data>AAAAAA==</data>
        <key>Replace</key>
        <data>JVhDUlM=</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>AAAAAA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>RTC IRQ 8 Patch</string>
        <key>Count</key>
        <integer>0</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>IgABeQA=</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data>AAAAAA==</data>
        <key>Replace</key>
        <data>IgAAeQA=</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>AAAAAA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>TIMR IRQ 0 Patch</string>
        <key>Count</key>
        <integer>0</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>IgEAeQA=</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data>AAAAAA==</data>
        <key>Replace</key>
        <data>IgAAeQA=</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>AAAAAA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>_CRS to XCRS in ETPD in DSDT</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <true/>
        <key>Find</key>
        <data>FBFfQ1JTAA==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>FBFYQ1JTAA==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data>RFNEVA==</data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>_Q11 to XQ11</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <false/>
        <key>Find</key>
        <data>X1ExMQ==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>WFExMQ==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data></data>
    </dict>
    <dict>
        <key>Comment</key>
        <string>_Q12 to XQ12</string>
        <key>Count</key>
        <integer>1</integer>
        <key>Enabled</key>
        <false/>
        <key>Find</key>
        <data>X1ExMg==</data>
        <key>Limit</key>
        <integer>0</integer>
        <key>Mask</key>
        <data></data>
        <key>OemTableId</key>
        <data></data>
        <key>Replace</key>
        <data>WFExMg==</data>
        <key>ReplaceMask</key>
        <data></data>
        <key>Skip</key>
        <integer>0</integer>
        <key>TableLength</key>
        <integer>0</integer>
        <key>TableSignature</key>
        <data></data>
    </dict>
</array>